*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

body { 
  background-color: #ecf0f3;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card {
  border: 1px solid #ccc;
  width: 600px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.card a {
  text-decoration: underline;
}